.category-warp {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.category-warp .warp-row {
    display: flex;
    border-bottom: 1px solid #ccc;
    /* padding: 0.5em 0 0; */
}

.category-warp .warp-row .warp-left {
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
    color: #0d90ff;
    font-weight: 700;
    font-size: 1.1em;
    background: #f0f0f0;
}

.category-warp .warp-row .warp-right {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5em 1em;
    background: #f5f4f4;
}

.category-warp .warp-row .warp-right a {
    margin: 0.2em 0.5em;
    color: #000;
}

.category-warp .warp-row .warp-right .active {
    color: #0d90ff;
}

.movie-list {
    justify-content: center;
    flex-wrap: wrap;
}

.movie-list .movie {
    margin-bottom: 1em;
}