.main {
    margin-top: 40px;
}

.left {
    width: 60%;
    margin-right: 100px;
    /* background-color: pink; */
}

.right {
    width: calc(40% - 100px);
    /* background-color: pink; */
}

.left .list-warp .item {
    display: flex;
    cursor: default;
    margin-bottom: 30px;
}

.left .list-warp .item .post {
    display: block;
    width: 120px;
    height: 180px;
    margin-right: 15px;
    border-radius: 6px;
    overflow: hidden;
}

.left .list-warp .item .post img {
    width: 100%;
    height: 100%;
}

.left .list-warp .item .movieName {
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.left .list-warp .item .movieName a {
    color: #0d9bff;
}

.left .list-warp .item .info {
    margin: 10px 0;
    font-size: 13px;
    color: rgba(255, 255, 255, .6);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.left .list-warp .item .info span {
    margin: 0 5px;
}

.left .list-warp .item .intro {
    font-size: 13px;
    color: rgba(255, 255, 255, .6);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.right .title {
    font-size: 16px;
}

.right .hotList ol li {
    list-style: decimal;
    margin: 20px 15px;
    padding-left: 5px;
}

.right .hotList ol li:nth-child(1) {
    color: #fc4274;
}
.right .hotList ol li:nth-child(2) {
    color: #ff8155;
}
.right .hotList ol li:nth-child(3) {
    color: #fcb80a;
}