.main {
    margin-top: 20px;
}

.main .left,
.main .right {
    padding: 20px 40px;
    border-radius: 10px;
    background: #1e1e24;
    box-sizing: border-box;
    cursor: default;
}

.main .left {
    width: 220px;
    margin-right: 20px;
    text-align: center;
}

.main .right {
    width: 960px;
}

.left .top .portrait {
    width: 80px;
    height: 80px;
    margin: 10px auto;
    border-radius: 50%;
    overflow: hidden;
}

.left .top .portrait img {
    width: 100%;
}

.left .top .name {
    margin: 10px 0;
    font-size: 14px;
}

.left .top .time {
    font-size: 12px;
    color: rgba(255, 255, 255, .6);
}

.left .list {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid hsla(0,0%,100%,.3);
}

.left .list li a {
    display: block;
    padding: 15px 0;
    color: rgba(255, 255, 255, .6);
}

.left .list li a:hover {
    color: #0d9bff;
    font-weight: 700;
}

.left .list li.active a {
    color: #0d9bff;
    font-weight: 700;
}

.right .title {
    font-size: 18px;
    font-weight: 700;
}

.right .info-warp .info{
    display: flex;
    align-items: center;
    padding: 40px 0;
    border-bottom: 1px solid hsla(0,0%,100%,.1);
}

.info .info-title {
    width: 200px;
}

.info .info-text {
    width: 480px;
}

.info-text input {
    padding-left: 20px;
    width: 80%;
    height: 35px;
    color: #fafafa;
    border: 0;
    border-radius: 10px;
    background: #35353a;
    outline: none;
}

.info .info-edit {
    width: 200px;
    text-align: right;
}

.info .info-edit a {
    font-size: 14px;
    color: #0d9bff;
    font-weight: 700;
}

.info .info-edit span {
    margin: 0 10px;
    color: rgba(255, 255, 255, );
}

.info .portrait {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.info .portrait img {
    width: 100%;
}
